

body {
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
-moz-font-feature-settings: "kern=1";
-ms-font-feature-settings: "kern" 1;
text-rendering: optimizeLegibility;
font-variant-ligatures: common-ligatures;
-moz-font-feature-settings: "liga", "dlig";
-ms-font-feature-settings: "liga", "dlig";
-webkit-font-feature-settings: "liga", "dlig";
-o-font-feature-settings: "liga", "dlig";
font-feature-settings: "liga", "dlig";
font-size: 1.2rem;
line-height: 1.6rem;
/* -moz-font-feature-settings: "ss02";
-webkit-font-feature-settings: "ss02"
font-feature-settings: "ss02"; */
color: #0118D8;
background-color: #F8F5E9;
font-family: Arial,sans-serif;
vertical-align: left;
}

.container{
    padding:40px;
}
.title-container {
    display: grid;
    max-width: 50%;
    height: 100lvh;
    place-items: left;
    padding-top: 80px;
    padding-left: 20px;
}


.pageheading{
    font-size: 5.7vw;
    text-align: left;
    padding-left:20px;
    padding-top: 20px;
}

.container-grid {
    display: grid;
    border: black 0.5px solid;
    height: fit-content;
    background-color: #F8F5E9;
    grid-template-columns: 1fr ;
    grid-template-rows: max-content;
    row-gap: 10px;
} 

strong {
    font-style: oblique;
}

.heading-grid {
    display: flex;
    justify-content:  space-between;
    background-color:#F8F5E9;
    text-align: Left;
     font-size: 2.2rem;
    padding:20px;
    border-bottom: 0.5px solid;
    text-decoration: none;
}  

/* .row-1 {
    background-color:#F8F5E9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    min-height: 100px;
    overflow: hidden ;
    width: 1200px; 
    margin-top: 10px;
    align-content: right;
    font-size: medium;
    padding:15px; 
    
}  */

.card {
  color: #0118D8;
  font-family:serif;
  padding: 2rem;
  height: 5rem;
}

.cards {
  /* align-content:end; */
  max-width:fit-content;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: 4;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.projectinfo {
  padding: 2rem;
}

.information{
  /* padding-top: 10px; */
 font-size: 1.2rem;
 line-height: 1.7rem;
}