body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #0118D8;
  background-color: #F8F5E9;
  font-family: Arial, sans-serif;
  vertical-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

strong {
  font-style: oblique;
}

.container {
  padding: 40px;
}

.main-container {
  display: grid;
  border: black 0.5px solid;
  height: fit-content;
  background-color: #F8F5E9;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  row-gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.page-heading {
  font-size: 5.7vw;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.title-container {
  display: grid;
  max-width: 50%;
  height: 100lvh;
  place-items: start;
  padding-top: 80px;
  padding-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #F8F5E9;
  text-align: left;
  font-size: 2.2rem;
  padding: 20px;
  border-bottom: 0.5px solid;
  text-decoration: none;
}

.cards {
  max-width: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  padding: 2rem;
}

.card {
  padding: 2rem;
  height: 5rem;
  border: 1px solid #0118D8;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0118D8;
  font-family: serif;
}

.project-info {
  padding: 2rem;
}

.information {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}