body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #0118D8;
  background-color: #F8F5E9;
  font-family: Arial, sans-serif;
  vertical-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

strong {
  font-style: oblique;
}

.main-container {
  display: grid;
  border: black 0.5px solid;
  height: fit-content;
  background-color: #F8F5E9;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  row-gap: 10px;
}

.about-container {
  display: grid;
  max-width: 50%;
  padding-left: 2rem;
}

.title {
  font-size: 5.7vw;
  text-align: left;
  padding-left: 2rem;
  padding-top: 2rem;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: #F8F5E9;
  text-align: left;
  font-size: 2.2rem;
  padding: 20px;
  border-bottom: 0.5px solid;
  text-decoration: none;
}

.cards {
  max-width: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  padding: 2rem;
}

.card {
  padding: 2rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
}

.card a {
  padding-top: 1rem;
}

.information {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.modal {
  position: static;
  background: none;
  display: none;
  z-index: auto;
}

.modal.active {
  display: block;
}

.modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1rem;
  margin: 2rem auto;
  gap: 1rem;
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  align-items: flex-start;
}

#modal-title {
  flex: 0 0 30%;
  margin: 0;
}

#modal-description {
  flex: 1;
  padding-left: 0;
  margin: 0;
}

#modal-video {
  flex: 0 0 100%;
  width: 100%;
  height: 80vh;
  border: none;
  margin-top: 1rem;
}

#modal-close {
  align-self: flex-start;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 1rem;
}

#modal-close img {
  display: block;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}